// Group sets of form fields in a list.
.form-fields{
    list-style:none;
    margin:0;
}
.form-fields > li{
    margin-bottom: $ratio#{em};
}
.form-fields > li:last-child{
    margin-bottom:0;
}


// Basic styles on inputs.

%input{
    font-size: 1em;
    display: block;
    background-color: none;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 3px solid #ffffff;
    background: none;
    color: $color__white;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);

    &:focus{
        border-color: $color__blue;
        outline: none;
    }

    .error &{
        background-color: $color__red;
        color: $color__white;

        &:focus{
            color: $color__black;
            border-color: $color__red;
        }
    }

    .success &{
        border-color: $color__green;
        color: $color__white;

        &:focus{
            border-color: $color__green;
        }
    }

    &[disabled]{
        background: $color__gray;
        color: $color__white;
        cursor: not-allowed;
    }
}

.filterSection {
    @extend .clearfix;
    margin-top: 3em;
    display: none;
    li {
      float: left;
      margin-right: 0.5em;
    }
    @include breakpoint(medium){
        display: block;
    }
}
.blog--filter {
    float: left;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='url'],
textarea,
select{
    @extend %input;
}

textarea{
    resize: vertical;
}

select{
    cursor: pointer;
    width: 100%;
}

.error{
    .message{
        margin: $ratio--inv#{em} 0;
        color: $color__red;
        fill: $color__red;
    }
}

.success{
    .message{
        margin: $ratio--inv#{em} 0;
        color: $color__green;
        fill: $color__green;
    }
}

// Styles for the Checkboxes and the radios

.radios {
  li {
    display: inline-block;
    margin-right: $ratio--inv#{em};
  }
}

input[type="checkbox"],
input[type="radio"]{
    // display: none;

    & ~ span {
        display: inline-block;
        width: 1em;
        height: 1em;
        background-color: none;
        border: 1px solid $color__white;
        margin-right: $ratio--inv#{em};
    }

    & ~ label{
        position: relative;
        cursor: pointer;
        padding-right: 4em;
    }

    &:checked{
        & ~ span{
            border: 1px solid $color__blue;
            background: $color__blue;
        }
    }
}

input[type="radio"]{
    & ~ span{
        border-radius: 100%;
    }
}

input[type="file"], select{
  border-bottom: none !important;
}

// Optional class to add to form to create optional content

.optional{
    label:after{
        content: " (optional)";
    }
}

.editForm{
  position: relative;
  width: 50%;
  margin: auto;

  input, textarea {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 3px solid #ffffff;
    background: none;
    width: 100%;
  }
  input,
    label{
      margin: $ratio--inv#{em} 0;
      font-family: $body-font;
      padding-left: 0;
      display: inline-block;
    }

    input {
        &[readOnly]{
          border: none;
        }
    }
    label {
      display: none;
    }
    .help-block {
      color: $color__pink;
      font-size: $ratio--inv#{em};

    }
}
.editForm--item, .form-group {
  clear: both;
}

textarea {
  min-height: 6em;
}

.readonly{
  [type=submit] {
    display: none;
  }
}

.signup {
  input {
    width: 100%;
  }
}

.radios {
  clear: both;
}
