#login-buttons {
  margin-right: 1em;
  line-height: 1.6;
}

#login-sign-in-link{
  visibility: hidden;
}
#login-sign-in-link:after{
  visibility: visible;
  content: 'Sign in';
}

.edit {
  position: absolute;
  top: 0;
  right: 0;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}
