$heading-font: 'Lato', sans-serif;
$body-font: 'Lato', sans-serif;


$line-height: $ratio#{em};
$font-weight: 300;
$base-font-size: 146;


html{
    font-family: $body-font;
    line-height: $line-height;
    font-size: $base-font-size#{px};
    font-weight: $font-weight;
    direction: ltr;
    display: block;
    color: $color__gray;
    unicode-bidi: embed;
    -webkit-locale: en-UK;
}

body{
    @include breakpoint(small){
        font-size: 16 / $base-font-size#{em};
        line-height: $line-height;
    }
}
