.home__banner {
  padding: 8em 0;
}

// .home__banner {
//     position: relative;
//     overflow: hidden;
//     padding-bottom: 4em;
//     height: 40em;
//     a {
//       position: relative;
//       z-index: 10;
//     }
// }
//
// .home__banner:before {
//     content: ' ';
//     display: block;
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 0;
//     opacity: 0.4;
//     background: url(/images/splash.jpg);
//     background-repeat: no-repeat;
//     background-position: 50% 0;
//     background-size: cover;
//     height: 35em;
// }
