.login-form {
  width: 80%;
  margin: auto;
  padding: 2em;
}
.accounts-dialog {
  position: absolute;
  background: rgba(0,0,0,0.8);
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 100;
}

.additional-link-container {
  float: left;
}
