.nav {
  padding-bottom: 4em;
  width: 100%;
}

@keyframes dropHeader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.nav--account--cont {
    background: $color__blue;
}

.nav--account {
  padding: 1em 0;
  z-index: 2;
  right: 0;
  width: auto;
  // animation-name: dropHeader;
  // animation-iteration-count: 1;
  // animation-timing-function: ease-out;
  // animation-duration: 0.6s;
  // position: absolute;
  // top: 0;
  a {
    margin-left: 1em;
    display: inline-block;
    clear: both;
    color: $color__white;
  }
}

.nav---height {
  height: auto;
  transition: height 0.4s ease-in-out;
}

.nav-main {
  z-index: 2;
  display: inline-block;
  float: right;
  a, span {
    margin-left: 1em;
    display: inline-block;
    color: $color__white;
  }
}
